<h1>Contact</h1>

<form>
	<label for="full_name">Full name</label>
	<input type="text" class="form-comtrol" id="full_name" placeholder="Enter full name">
</form>

<div class="form-group">
	<label for="email">Email</label>
	<input type="email" name="email" class="form-comtrol" id="email" placeholder="Enter email">
</div>

<form>
	<label for="content">Content</label>
	<textarea name="content" id="content" placeholder="Sisesta tekst"></textarea>
</form>
<%= recaptcha_tags %>

<input type="submit" class="btn btn-primary" value="saada email">

